.header .container {
  display: flex;
  align-items: center;

  text-transform: capitalize;
  font-weight: 500;
}
.header {
  padding: 8px;
  position: fixed;
  width: 100%;
  background-color: var(--grey-900);
  z-index: 100;
}

.logo {
  font-size: 24px;
  color: var(--white);
}

nav {
  flex: 1;
  display: flex;
  align-items:center;
  gap: 28px;
  justify-content: center;
}

nav .link-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
  transition: var(--transition);
}


.trans-icon {
  font-size: 24px;
  transition: var(--transition);
  cursor: pointer;
  color: var(--white);
}

.trans-icon:hover {
  color: var(--primary-500);
}

.trans-container {
  position: relative;
}

.trans {
  position: relative;
  margin-right: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.langs {
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  left: -50%;
  /* top: -100%; */
}

.show-langs {
  height: auto !important;
  overflow: auto;
}

.lang {
  background-color: var(--primary-100);
  padding: 1px 8px;
  border-top: var(--black) 1px solid;
  cursor: pointer;
  font-size: 12px !important;
  font-weight: 400;
}

.lang:hover {
  background-color: var(--primary-400);
}

.navbar-icon-container {
  color: var(--white);
  display: none;
}
.navbar-icon {
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 992px) {
  .navbar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav .link-list {
    height: 0px;
    flex-direction: column;
    overflow: hidden;
    
  }

  nav .active {
    height: auto; 
  }

  nav{
    align-items: flex-start;
  }
  
}

.link {
  font-size: 18px;
  transition: var(--transition);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.link:hover {
  color: var(--primary-500);
  /* font-size: 20px; */
}

a.active {
  color: var(--primary-500);
  /* font-size: 20px; */
}
.header .white,
.header .white a:not(a.active) {
  color: whit e !important;
}

